# Basic python (simple message)

In [10]:
print("Hello World!")

Hello World!

In [12]:
#comments  in python
#benefit of jupyterNotebook
"Hello World!"

'Hello World!'

In [14]:
2+3

5

In [16]:
type(True)

bool

In [20]:
type(False)

bool

In [26]:
print("age:36:")

age:36:

In [28]:
4-3

1

# String methods in python

In [32]:
print("ashish basnet".upper())

ASHISH BASNET

In [34]:
print("RAM BAHADUR".lower())

ram bahadur

In [36]:
print("Nepal is a beautiful country".title())

Nepal Is A Beautiful Country

In [38]:
print("pineapple".count("p"))

3

In [42]:
#replace methods

# .replace(oldvalue, newvalue)

print("shyam".replace("y","o"))

shoam

# variables

### variables helps to store data values and manage data properly

In [51]:
message_1="hey i'm from Nepal"

print(message_1)

hey i'm from Nepal

In [53]:
message_2="I love my country"
print(message_2)

I love my country

# string concat

In [58]:
# there will be problem after joining this lets see
message= message_1 + message_2
print(message)

hey i'm from NepalI love my country

In [60]:
message= message_1 +" "+ message_2
print(message)

hey i'm from Nepal I love my country

# f''= means f string

#### Everything outside {} is treated as a normal string.

#### Everything inside {} is treated as a Python expression, not just a string.

In [69]:
f'yes, {message_1} {message_2}'

"yes, hey i'm from Nepal I love my country"

# Data types often used in data analysis

### LIST

##### list are used to store multiple items ina single variable. 
##### 1.list are ordered and mutuable containers. 
##### 2.IN python we call mutable , an object that can change values . 
##### 3.it can contain multiple data types float, integer, string etc.
##### 4. it can have duplicate values.

In [78]:
fruits=['Apple','Mango','pineapple', 26,32.5]
print(fruits)

['Apple', 'Mango', 'pineapple', 26, 32.5]

In [86]:
countries=['Nepal','Nepal',32, 60.5]
print(countries)

['Nepal', 'Nepal', 32, 60.5]

### python use 0 based indexing means 0,1,2,3,4 and so on

In [89]:
print(countries[3])

60.5

In [91]:
print(fruits[2])

pineapple

##### we can also use negative indexing in python means last element is -1 second last
##### element will -2 then -3, -4 and so on

In [97]:
print(fruits[-1])
print(countries[-3])

32.5
Nepal

# slicing 
###### slicing means accessing the parts of a list. slice is a subset of list elements
###### list_name[start:stop] here last elment is not included but first element is included

In [104]:
print(countries[0:3])

print(fruits[2:4])

['Nepal', 'Nepal', 32]
['pineapple', 26]

In [110]:
# we can leave the start and last elemnt if we want to 
#find the elemts from first or from first to last one 


print(countries[2:])
print(fruits[:3])

[32, 60.5]
['Apple', 'Mango', 'pineapple']

# Adding elemnts in a list

In [115]:
# append() method . it takes only one argument 

fruits.append('grapes')

print(fruits)

['Apple', 'Mango', 'pineapple', 26, 32.5, 'grapes']

#### basically, append() method add the elemnt at last in the list it is default. 
#### if we want to add element in desire position we use insert(index ,'value') method

In [121]:
fruits.insert(0 ,'Banana')
print(fruits)

['Banana', 'Apple', 'Mango', 'pineapple', 26, 32.5, 'grapes']

###  concat of lists

In [128]:
# using + operator
new_list= countries + fruits 
print(new_list)

['Nepal', 'Nepal', 32, 60.5, 'Banana', 'Apple', 'Mango', 'pineapple', 26, 32.5, 'grapes']

In [130]:
# concating list using nested list 

nested_list=[countries, fruits]
print(nested_list)

[['Nepal', 'Nepal', 32, 60.5], ['Banana', 'Apple', 'Mango', 'pineapple', 26, 32.5, 'grapes']]