    Name  Age
0  Alice   25
1    Bob   30